@media(max-width:2560px){
   #userresponsive{
     width: 100% !important;
    transform: scale(0.8) !important;
    transform-origin: top !important;
   }

   #tableres{
    max-width: 100% !important;
    transform: scale(0.8) !important;
    transform-origin: top;
    margin-top: -90px !important;
   }
}