@media(max-width:1920px){
    .analyseresponsive{
  overflow-y: hidden;
  zoom: 0.9;
    }
    
    #mapinsiderespon{
        height: 400px !important;
        
    }

    .cloudimgresponsive{
        zoom: 0.87 !important;
    }

    /* inner shape of images */

    .maincloud{
        zoom: 1;
    }

    /* for maindetails */

    .detailresponsive{
       zoom: 0.9;
    }
}

@media(max-width:1920px) and (max-height:1050px){
    .detailresponsive{
        zoom: 1 !important;
     }

     .analyseresponsive{
        overflow-y: hidden !important;
        zoom: 1 !important;
          }

         

        #mapinsiderespon{
            height: 550px !important;
            
        }
  }