@media(max-width:1920px){
    #analyseresponsive{
  overflow-y: hidden;
  zoom: 0.9;
    }
    
    #mapinsiderespon{
        height: 400px !important;
        
    }

    .cloudimgresponsive{
        zoom: 0.9 !important;
    }

    /* inner shape of images */

    .maincloud{
        zoom: 1;
    }

    /* for maindetails */

    .detailresponsive{
       zoom: 0.9;
    }
}